body {
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

a {
  color: #00adef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2 {
  text-align: center;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
}

/* Style for links */
a {
  text-decoration: none; /* Remove underline */
  color: #007bff; /* Set link color to blue */
  transition: color 0.3s; /* Add transition effect for color change */
}

/* Hover effect for links */
a:hover {
  color: #0056b3; /* Darker blue color on hover */
}
